################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpellingMasterGame/bin/Debug
/SpellingMasterGame/obj/Debug
/SpellingMasterUI/bin/Debug
/SpellingMasterUI/obj/Debug
/SpellingMasterCommon/bin/Debug
/SpellingMasterCommon/obj/Debug
/CommonLibUi/bin/Debug
/CommonLibUi/obj/Debug
/UiHost/bin/Debug
/UiHost/obj/Debug/TempPE
/UiHost/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/UiHost/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/UiHost/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/UiHost/obj/Debug/UiHost.csproj.GenerateResource.Cache
/UiHost/obj/Debug/SpellingMasterGame_MarkupCompile.lref
/UiHost/obj/Debug/SpellingMasterGame_MarkupCompile.i.lref
/UiHost/obj/Debug/SpellingMasterGame_MarkupCompile.i.cache
/UiHost/obj/Debug/SpellingMasterGame_MarkupCompile.cache
/UiHost/obj/Debug
/CommonLib/bin/Debug
/CommonLib/obj/Debug
